html {
  background: rgb(150,249,186);
}

.yep {
  font-family: 'savateregular';
  font-size: 15px;
}

.bandeau {
  position: fixed;
  width:100%;
  bottom:0;
  left:0;
  display:flex;
  font-family: 'savateregular';
  background: rgb(150,249,186);
}

.bandeau-gauche {
  border: 5px solid white;
  padding: 4px 16px;
  font-size: 16pt;
  display: flex;
align-items: center;
}

.bandeau-gauche p {
  margin: 0;
}

.bandeau-droite {
  border: 5px solid white;
  border-left: none;
  padding: 4px 0;
  flex-grow: 1;
  display:flex;
  align-items:center;
  font-size: 18pt;
  overflow: hidden;
}

.bandeau-droite h2 {
  margin: 0;
  margin-left: 6px;
  width: 600px;
}

a {
  color: black;
  text-decoration: none;
  cursor: help;
}

@media screen and (max-width: 1050px) {
.bandeau-gauche {
    border: 4px solid white;
    padding: 4px 5px;
    font-size: 14pt;
    display: flex;
    align-items: center;
}
.bandeau-droite {
    border: 4px solid white;
    border-left: none;
    padding: 4px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 14pt;
    overflow: hidden;
}
@media screen and (max-width: 680px) {
    .bandeau-gauche {
        border: 3px solid white;
        padding: 4px 5px;
        font-size: 12pt;
        display: flex;
        align-items: center;
    }
    .bandeau-droite {
        border: 3px solid white;
        border-left: none;
        padding: 4px 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 12pt;
        overflow: hidden;
    }
@media screen and (max-width: 500px) {
  .bandeau-gauche {
      border: 3px solid white;
      padding: 3px 4px;
      font-size: 10pt;
      display: flex;
      align-items: center;
  }
  .bandeau-droite {
    border: 3px solid white;
    border-left: none;
    padding: 4px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 11pt;
    overflow: hidden;
  }
