html {
  background: rgb(150,249,186);
}

a {
  color: black;
  text-decoration: none;
  cursor: help;
}
.bandeau {
  position: fixed;
  width:100%;
  bottom:0;
  left:0;
  display:flex;
  font-family: 'savateregular';
  background: rgb(150,249,186);
}

.bandeau-gauche {
  border: 5px solid white;
  padding: 3px 16px;
  font-size: 16pt;
  display: flex;
align-items: center;
}

.bandeau-gauche p {
  margin: 0;
}

.bandeau-droite {
  border: 5px solid white;
  border-left: none;
  padding: 1px 0;
  flex-grow: 1;
  display:flex;
  align-items:center;
  font-size: 18pt;
  overflow: hidden;
}

.bandeau-droite h2 {
  margin: 0;
  width: 300px;
}

.defilant {
  overflow: hidden;
}
.projets {
  position: fixed;
  left: 0;
  top:0;
  width:100%;
  height: 100%;
}

.projet {
  width: 200px;
  position: absolute;
}

.projet h3 {
  position: absolute;
  left: 100%;
  width: 200px;
  margin:0;
  transform: rotate(-28deg) translateY(-40px) translateX(-41px);
  transform-origin:bottom left;
  font-family: 'Sporting Grotesque_Regular';
  font-size: 7pt;
  cursor: help;
}


.projet-1 {
  left: 20%;
  top: 9%;
}

.projet-2 {
  left: 3%;
  top: 32%;
}

.projet-3 {
  left: 30%;
  top: 39%;
}

.projet-4 {
  left: 65%;
  top: 70%;
}

.projet-5 {
  left: 9%;
  top: 69%;
}

.projet-6 {
  left: 52%;
  top: 29%;
}

.projet-7 {
  left: 39%;
  top: 62%;
}

.projet-8 {
  left: 46%;
  top: 4%;
}

.projet-9 {
  left: 70%;
  top: 12%;
}

.projet-10 {
  left: 76%;
  top: 42%;
}

img {
  max-width:100%;
  height:auto;
}

@media screen and (max-width: 1050px) {
  .projet {
    width: 158px;
    position: absolute;
}
.bandeau-gauche {
    border: 4px solid white;
    padding: 4px 5px;
    font-size: 14pt;
    display: flex;
    align-items: center;
}
.bandeau-droite {
    border: 4px solid white;
    border-left: none;
    padding: 4px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 14pt;
    overflow: hidden;
}

@media screen and (max-width: 850px) {
  .projet {
      width: 115px;
      position: absolute;
  }

@media screen and (max-width: 680px) {
    .projet {
        width: 97px;
        position: absolute;
    }
    .bandeau-gauche {
        border: 3px solid white;
        padding: 4px 5px;
        font-size: 12pt;
        display: flex;
        align-items: center;
    }
    .bandeau-droite {
        border: 3px solid white;
        border-left: none;
        padding: 4px 0;
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 12pt;
        overflow: hidden;
    }
@media screen and (max-width: 680px) {
  .projet {
      width: 75px;
      position: absolute;
  }
@media screen and (max-width: 500px) {
  .projet {
    font-size: 6px;
    width: 62px;
    position: absolute;
}
.projet-1 {
    left: 13%;
    top: 14%;
}
  .bandeau-gauche {
      border: 3px solid white;
      padding: 3px 4px;
      font-size: 10pt;
      display: flex;
      align-items: center;
  }
  .bandeau-droite {
    border: 3px solid white;
    border-left: none;
    padding: 4px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 11pt;
    overflow: hidden;
}
