@font-face {
    font-family: 'Sporting Grotesque_Bold';
    src:    url('Sporting_Grotesque-Bold.eot');
    src:    url('Sporting_Grotesque-Bold.eot?#iefix') format('embedded-opentype'),
            url('Sporting_Grotesque-Bold.woff') format('woff'),
            url('Sporting_Grotesque-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting Grotesque_Regular';
    src:    url('Sporting_Grotesque-Regular.eot');
    src:    url('Sporting_Grotesque-Regular.eot?#iefix') format('embedded-opentype'),
            url('Sporting_Grotesque-Regular.woff') format('woff'),
            url('Sporting_Grotesque-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'savateregular';
    src: url('savate-regular-webfont.woff2') format('woff2'),
         url('savate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'compagnonlight';
    src:    url('Compagnon-Light.eot');
    src:  url('Compagnon-Light.eot?#iefix') format('embedded-opentype'),
          url('Compagnon-Light.woff2') format('woff2'),
          url('Compagnon-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'compagnon';
    src:    url('Compagnon-Roman.eot');
    src:  url('Compagnon-Roman.eot?#iefix') format('embedded-opentype'),
          url('Compagnon-Roman.woff2') format('woff2'),
          url('Compagnon-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
